nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav-title{
    font-weight: 50px;
    font-size: 50px;
}



.btn-style{
    
    background-color: blue;
    font-weight: 600px;
    color: white;
}


.banner-style{
    text-align: center;

}

.bg-style{
    background-image: url('../B10A1-Challenge-Begins/assets/Hero-bg.png');
}
.font-style{
    font-size: 30px ;
}
.font-style1{
    font-size: 20px;

}

.btn-style1{
    
    background-color: blue;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600px;
    
}

.main-style{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}
.p-style{
    font-size: 20px;
}

.skill{

}